In [1]:
import pandas as pd
df = pd.read_excel(r'zadanie-rekrutacyjne.xlsx')
df.head()

   20  50
0   3   2
1   5   4
2   7   6
3   2   1
4   8   5

In [2]:
N_avaliable_ducks=df.columns.values[0]
M_max_width=df.columns.values[1]
df.set_axis(["hight", "width"], axis="columns", inplace=True)
df.head()

/tmp/ipykernel_48882/3346599358.py:3: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(["hight", "width"], axis="columns", inplace=True)

   hight  width
0      3      2
1      5      4
2      7      6
3      2      1
4      8      5

In [3]:
Hight=df["hight"].tolist()
Width=df["width"].tolist()
properities_ducks=[]
weight_ducks=[]
for i in range(len(Hight)):
    properities_ducks.append((Hight[i],Width[i]))
    weight_ducks.append((Hight[i]/Width[i],i))
    
weight_ducks.sort(key=lambda x:x[0])
weight_ducks.reverse()


sum_of_hight=0
sum_of_width=0

for ele in weight_ducks:
    idx=ele[1]
    duck=properities_ducks[idx]
    print(duck)
    if sum_of_width == M_max_width:
        break
        
    if sum_of_width+duck[1]<=M_max_width:
        sum_of_width+=duck[1]
        sum_of_hight+=duck[0]


        
print("sum_of_hight",sum_of_hight)
print("sum_of_width",sum_of_width)

(2, 1)
(2, 1)
(8, 5)
(3, 2)
(8, 6)
(4, 3)
(5, 4)
(5, 4)
(5, 4)
(7, 6)
(7, 6)
(9, 8)
(3, 3)
sum_of_hight 65
sum_of_width 50